<section data-ng-controller="ContactsController" data-ng-init="findOne()">
    <span>{{contact.created | date:'medium'}}</span> /
    <span>{{contact.user.name}}</span>
    <h2>{{contact.name}}</h2>
    <div data-ng-show="global.user._id == contact.user._id">
        <a class="btn" href="/#!/contacts/{{contact._id}}/edit">
        	<i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn" data-ng-click="remove();">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>
    <div>{{contact.fname}}</div>
</section>
